        <div class="dual-commentdiv">
            <div class="desc-commentdiv">
                <h4><a class="href" href="/comments/{{this.id}}">{{this.description}}</a></h4>
            </div>
            <div class="btn-commentdiv">
                <button class="btn btn-danger" data-id="{{this.id}}">DELETE</button>
            </div>
        </div>