<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>login</title>
  <link rel="stylesheet" href="/css/output.css">
 <!-- <link href="https://cdn.tailwindcss.com/" type="text/css"> -->
 </head>

<body class="justify-around">
  <header class= "title">
    <h1 class="text-blue-900 text-6xl  "><a class= "href" href="/">THE KAIZEN APP</a></h1>
<h2 class="text-blue-600 text-4xl"> The Social goal sharing site!</h2>
  <!-- Conditionally render login or logout links -->
    {{#if logged_in}}
    <a class="href profile" href="/profile">profile</a>
    <button class= "no-button" id="logout">logout</button>
    {{else}}
    <a class="href" href="/login">login</a>
    {{/if}}
  </header>
  <main class="login text-2xl auto-rows-auto" "bg-indigo-500">
    {{{ body }}}
  </main>
  <footer>

  </footer>
  <!--<script src="/path/to/masonry.pkgd.min.js"></script> -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
    <script src="/js/login.js"></script>
    <script src="/js/profile.js"></script>
    
</body>

</html>