<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>login</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/output.css">
</head>

<body class="justify-around">
  <header class="title">
    <h1 class="text-blue-900 text-6xl text-center main-title"><a class="href" href="/">THE KAIZEN APP</a></h1>
    <h2 class="text-blue-600 text-4xl text-center m-top-25 underline">The social goal sharing site!</h2>
    <p class="text-center shadow text-blue-900 mb-4">Kaizen is a Japanese word meaning 'continual improvement daily',<br>
      in the nature of this we encourage you to set a goal to help you improve your life a little today! </p>
    <!-- Conditionally render login or logout links -->
    {{#if logged_in}}
    <a class="href btn-center btn-top" href="/">home</a>
    <a class="href profile btn-center btn-mid" href="/profile">profile</a>
    <button class="btn-center btn-btm" id="logout">logout</button>
    {{else}}
    <a class="href btn-center btn-top" href="/login">login</a>
    {{/if}}
  </header>
  <main class="text-2xl mt-header">
    {{{ body }}}
  </main>
  <footer>

  </footer>
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>