<h2 class="text-center mt-header">please enter your new comment.</h2>
<form class="form my-2 new-post">
  <label class="sm-mb my-2" for="com-desc-input">new description:</label>
  <input id="com-desc-input" class="input"></input>
  <button type="submit" data-id="{{id}}" class="btn save-btn">save</button>
</form>

<script src="/js/editComment.js"></script>