<h2>please enter your new goal description, and new timeframe.</h2>
<form>
  <label for="goal-desc-input">new description:</label>
  <textarea id="desc-input"></textarea>
  <label for="timeframe-input">new timeframe:</label>
  <textarea id="timeframe-input"></textarea>
  <button type="submit" class="btn btn-edit">save</button>
</form>
{{!--
<script src="/js/profile.js"></script> --}}