<h2>please enter your new comment.</h2>
<form>
  <label for="com-desc-input">new description:</label>
  <textarea id="com-desc-input"></textarea>
  <button type="submit" data-id="{{id}}" class="btn btn-com-edit">save</button>
</form>

<script src="/js/editComment.js"></script>