{{#each users as |user| }}
<div class="homepage-user">
  <div>
    <h2>{{user.name}}</h2>
  </div>
  <div>
    <h3>
      {{#each user.posts}}
      <p>{{this.title}}</p>
      </h3>
  </div>
</div>
{{/each}}