{{#each users as |user| }}
<div class="homepage_user">
  <div class="">
    <h2>{{user.name}}</h2>
  </div>
  <div class="">
    <h3><a href="mailto:{{user.email}}">{{user.email}}</a></h3>
  </div>
</div>
{{/each}}