<head>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/output.css">
</head>
<div>
  <div>
    <h2 class="text-blue-600 ml-40 grad">Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="text-blue-900 text-3xl text-center m-50">
    <h3>create a new goal;</h3>

    <form class="form new-goal-form">
      <div class="form-group">
        <label for="goal-name">goal:</label>
        <input class="form-input sm-mb m-top-25 input" id="goal-name" name="goal-name"></input>
      </div>
      <div class="form-group">
        <label for="goal-desc">description:</label>
        <input class="form-input sm-mb m-top-25 input" id="goal-desc" name="goal-desc"></input>
      </div>
      <div class="form-group">
        <label for="timeframe">timeframe:</label>
        <input class="timeframe m-top-25 input" id="timeframe" name="timeframe"></input>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary m-top-25">create</button>
      </div>
    </form>
  </div>

  {{#if this.posts.length}}
  <div class="posts ml-40 post-list">
    <h3 class="mb-4">current goals:</h3>

    {{#each this.posts as |post|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4 class="border-frame post-border-frame"><a href="/posts/{{post.id}}">{{post.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-danger" data-id="{{post.id}}" value="delete">delete</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="/js/profile.js"></script>