header {
    border-bottom: 1px solid rgb(4, 4, 65);
  }

.btn {
    background: none;
    border-radius: 2px;
    padding: 0;
    cursor: pointer;
    color: #065b83;
    text-decoration: none;
    font-size: 100%;
  }
  
  .btn:hover {
    color: orangered;
    text-decoration: underline;
  }
  
.grid-item { width: 200px; }